
a.cats {
	color: rgba(112, 112, 112, 1) !important;
}

th {
	background: rgb(246, 244, 247);
}

.padding-none {
	padding: 0px !important;
}

.margin-none {
	margin: 0px !important;
}

.col-centered {
	float:none;
	margin:0 auto;
}

.margin {
	margin:10px!important;
}

.margin-sm {
	margin:5px!important;
}

.margin-lg {
	margin:22px!important;
}

.margin-xl {
	margin:40px!important;
}

.margin-top-none {
	margin-top:0!important;
}

.margin-top {
	margin-top:10px!important;
}

.margin-top-sm {
	margin-top:5px!important;
}

.margin-top-lg {
	margin-top:22px!important;
}

.margin-top-xl {
	margin-top:40px!important;
}

.margin-right-none {
	margin-right:0!important;
}

.margin-right {
	margin-right:10px!important;
}

.margin-right-sm {
	margin-right:5px!important;
}

.margin-right-lg {
	margin-right:22px!important;
}

.margin-right-xl {
	margin-right:40px!important;
}

.margin-bottom-none {
	margin-bottom:0!important;
}

.margin-bottom {
	margin-bottom:10px!important;
}

.margin-bottom-sm {
	margin-bottom:5px!important;
}

.margin-bottom-lg {
	margin-bottom:22px!important;
}

.margin-bottom-xl {
	margin-bottom:40px!important;
}

.margin-left-none {
	margin-left:0!important;
}

.margin-left {
	margin-left:10px!important;
}

.margin-left-sm {
	margin-left:5px!important;
}

.margin-left-lg {
	margin-left:22px!important;
}

.margin-left-xl {
	margin-left:40px!important;
}

.border-left-none {
	border-left:none!important;
}

.border-right-none {
	border-right:none!important;
}

.border-bottom-none {
	border-bottom:none!important;
}

.border-top-none {
	border-top:none!important;
}

.text-sm {
	font-size:12px!important;
}

.text-base {
	font-size:14px!important;
}

.text-md {
	font-size:16px!important;
}

.text-lg {
	font-size:18px!important;
}

.margin-right-10 {
	margin-right:10px !important;
}

.margin-left-10 {
	margin-left:10px;
}

.margin-right-20 {
	margin-right:20px;
}

.margin-left-20 {
	margin-left:20px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
	font-family:'Open Sans',sans-serif;
	background:#ececec;
}

#wrapper {
	width:100%;
	background:#202020;
}

#page-wrapper {
	padding:15px;
	min-height:600px;
	background:#F3F3F3;
}

#page-inner {
	width:100%;
	margin:10px 20px 10px 0;
	padding:10px;
	min-height:300px;
}

.text-center {
	text-align:center;
}

.no-boder {
	border:1px solid #f3f3f3;
}

.square-btn-adjust {
	border:0 solid transparent;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

p {
	font-size:16px;
	line-height:25px;
	padding-top:0px;
}

.quo {
	border-top:20px;
}

i.usr {
	margin-right:15px;
	margin-bottom:10px;
}

.fa-blue {
	color:#3498db;
}

.fa-green {
	color:#18bc9c;
}

.fa-yellow {
	color:#f39c12;
}

.fa-red {
	color:#e74c3c;
}

body {
	color:#666;
	font-family:"Open sans",Sans-serif;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
}

i.sep-left {
	margin-left:30px;
}

i.sep-right {
	margin-right:30px;
	margin-right:30px;
}

h1 {
	margin-top:0;
}

.img-logo-small {
	width:200px;
}

.li-bot-small {
	margin-top:30px;
}

#content-wrapper {
	width:100%;
	height:100%;
	position:relative;
}

#content-left {
	z-index:10;
	width:250px;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#283c51;
}

#content-top {
	z-index:10;
	height:100px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#273b51;
}

#content-right {
	padding:1.3rem 2rem;
	margin-left:250px;
}

#left-navigation {
	margin:2rem 0;
}

#left-navigation,#left-navigation li ul {
	list-style:none;
	padding:0;
}

#left-navigation li a {
	display:block;
	padding:.8rem 1rem .8rem 3rem;
	color:#adadad;
	border-bottom:solid 1px #395673;
	text-overflow:ellipsis;
	overflow:hidden;
	position:relative;
	-webkit-transition:color .2s ease;
	transition:color .2s ease;
}

#left-navigation li a,#left-navigation li a .left-navIcon {
	line-height:120%;
}

#left-navigation li a .left-navIcon {
	position:absolute;
	top:0;
	left:0;
	width:3rem;
	padding:.8rem 0;
	text-align:center;
}

#left-navigation li a:hover {
	color:#fff;
}

#left-navigation li ul {
	display:none;
	margin:0;
	background-color:#17232f;
}

#left-navigation li ul li a {
	border-bottom:solid 1px #233547;
}

#left-navigation li ul li:last-child a {
	border-bottom:none;
}

#left-navigation li ul li.active a {
	color:#fff;
}

#left-navigation li.active > a {
	color:#fff;
}

#left-navigation li.active ul {
	display:block;
}

#left-navigation > li.active {
	background-color:#437c97;
}

.blue-nav .active a,.blue-nav .active a:hover {
	background-color:red;
}

/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
	background-color:#fff;
}

.panel-back-2 {
	background-color:#f6f6f6;
}

a:hover,a:focus {
	text-decoration:none;
}

.noti-box {
	min-height:100px;
	padding:10px 20px 9px 20px;
}

.noti-box .icon-box {
	display:block;
	float:left;
	margin:0 15px 10px 0;
	width:70px;
	height:70px;
	line-height:75px;
	vertical-align:middle;
	text-align:center;
	font-size:40px;
}

.text-box p {
	margin:0 0 3px;
}

.main-text {
	font-size:25px;
	font-weight:600;
}

.set-icon {
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}

.bg-color-green {
	background-color:#00CE6F;
	color:#fff;
}

.bg-color-blue {
	background-color:#A95DF0;
	color:#fff;
}

.bg-color-red {
	background-color:#DB0630;
	color:#fff;
}

.bg-color-brown {
	background-color:#B94A00;
	color:#fff;
}

.icon-box-right {
	display:block;
	float:right;
	margin:0 15px 10px 0;
	width:70px;
	height:70px;
	line-height:75px;
	vertical-align:middle;
	text-align:center;
	font-size:40px;
}

.main-temp-back {
	background:#8702A8;
	color:#FFF;
	font-size:16px;
	font-weight:300;
	text-align:center;
}

.main-temp-back .text-temp {
	font-size:40px;
}

.back-dash {
	padding:20px;
	font-size:20px;
	font-weight:500;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	background-color:#2EA7EB;
	color:#fff;
}

.back-dash p {
	padding-top:16px;
	font-size:13px;
	color:#fff;
	line-height:25px;
	text-align:justify;
}

.back-footer-green {
	background-color:#009B50;
	border-top:0 solid #fff;
}

.back-footer-red {
	background-color:#AF0000;
	border-top:0 solid #fff;
}

.color-bottom-txt {
	color:#000;
	font-size:16px;
	line-height:30px;
}

/*CHAT PANEL*/
.chat-panel .panel-body {
	height:450px;
	overflow-y:scroll;
}

.chat-box {
	margin:0;
	padding:0;
	list-style:none;
}

.chat-box li {
	margin-bottom:15px;
	padding-bottom:5px;
	border-bottom:1px dotted gray;
}

.chat-box li.left .chat-body {
	margin-left:90px;
}

.chat-box li .chat-body p {
	margin:0;
	color:#8d8888;
}

.chat-img>img {
	margin-left:20px;
}

.user-image {
	margin:25px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	max-height:170px;
	max-width:170px;
}

.navbar-cls-top .navbar-brand {
	color:#fff;
	background:#C90000;
	width:260px;
	text-align:center;
	height:60px;
	font-size:30px;
	font-weight:700;
}

.active-menu {
	background-color:#C90000!important;
}

.arrow {
	float:right;
}

.fa.arrow:before {
	content:"\f104";
}

.active > a > .fa.arrow:before {
	content:"\f107";
}

.nav-second-level li,.nav-third-level li {
	border-bottom:none!important;
}

.nav-second-level li a {
	padding-left:37px;
}

.nav-third-level li a {
	padding-left:55px;
}

.sidebar-collapse,.sidebar-collapse .nav {
	background:none;
}

.sidebar-collapse .nav {
	padding:0;
}

.sidebar-collapse .nav > li > a {
	color:#fff;
	background:#202020;
	text-shadow:none;
}

.sidebar-collapse > .nav > li > a {
	padding:15px 10px;
}

.sidebar-collapse > .nav > li {
	border-bottom:1px solid rgba(107,108,109,0.19);
}

.sidebar-collapse .nav > li > a:hover,.sidebar-collapse .nav > li > a:focus {
	background:#0A0A0A;
	outline:0;
}

.nav-second-level > li > a:before,.nav-third-level > li > a:before {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:15px;
	height:1px;
	background:red;
	top:20px;
}

.nav-second-level > li > a:after,.nav-third-level > li > a:after {
	content:"";
	display:block;
	position:absolute;
	left:20px;
	width:1px;
	height:100%;
	background:red;
	top:0;
	z-index:10;
}

.nav-second-level > li:last-child > a:after,.nav-third-level > li:last-child > a:after {
	height:50%;
}

.nav-third-level > li > a:after,.nav-third-level > li > a:before {
	left:40px;
}

.navbar-side {
	border:none;
	background-color:#202020;
}

.navbar-cls-top {
	background:#4D4D4D;
	border-bottom:none;
}

.navbar-cls-top .navbar-brand:hover {
	background:#C90000;
	color:#fff;
}

.navbar-default {
	border:0 solid #000;
}

.navbar-header {
	background:#A70303;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
	background-color:#B40101;
}

.navbar-default .navbar-toggle {
	border-color:#fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color:#FFF;
}

.nav > li > a > i {
	margin-right:10px;
}

.btn-circle {
	width:50px;
	height:50px;
	padding:6px 0;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	border-radius:25px;
	text-align:center;
	font-size:12px;
	line-height:1.428571429;
}

@media(min-width:768px) {
	#page-wrapper {
		margin:0 0 0 260px;
		padding:15px 30px;
		min-height:300px;
	}
	
	.navbar-side {
		z-index:1;
		position:absolute;
		width:260px;
	}
	
	.navbar {
		border-radius:0;
	}
}

@media(max-width:768px) {
	#content-right {
		margin-left:0;
		margin-top:100px;
	}
}

/* ************************************* */
/* 			Edition des avis			 */
/* ************************************* */
.hide-write-comment{
  display : none;
}

.show-write-comment{
  display : block;
}

.write-comment-buttons{
  margin-top : 10px;
}

.write-comment-buttons > button{
  margin-left : 5px;
}

.pcd_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 995;
	background: rgba(0, 0, 0, 0.5);
}

.comment-editing-form{
  position : relative;
  z-index : 999;
}


.update-comment-form, .show-update-comment-form{
	transition: all 0.6s cubic-bezier(0, .84, .14, .99);
	-webkit-transform: translateY(-30%);
	-moz-transform: translateY(-30%);
	-ms-transform: translateY(-30%);
	transform: translateY(-30%);
	opacity: 0;
	visibility: hidden;
}

.show-update-comment-form{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 100;
	visibility: visible;
}

.msg-comment-form, .show-msg-comment-form{
	transition: all 0.8s cubic-bezier(0, .84, .14, .99);
	-webkit-transform: translateY(30%);
	-moz-transform: translateY(30%);
	-ms-transform: translateY(30%);
	transform: translateY(30%);
	opacity: 0;
	visibility: hidden;
}

.show-msg-comment-form{
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 100;
	visibility: visible;
}

